* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    /* font-family: 'Open Sans', Verdana, sans-serif; */
    background: url(./img/bg/noise_transparent.png), 
	radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), 
    #211F20;
    margin: 20px 0;
}

.wrapper {
    display: flex;
	margin: 0 auto;
	max-width: 75rem;
    justify-content: space-between;
    color: rgb(252, 244, 244);
    line-height: 160%;
    font-size: 2rem;
}

/* HEADER */

.header__wrapper {
    width: 100%;
    margin-bottom: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.button {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 100px;
    color: #F1CDB3;
	border: 2px solid #F1CDB3;
	background: none;
    text-decoration: none;
    cursor: pointer;
}

.button_active:hover {
    background: #FDDCC4;
    color:  #292929;;
}

/*  MAIN */

.main {
	display: flex;
    flex-direction: column;
}

.main__wrapper {
    display: flex;
    flex-direction: column;
}

/* NAVIGATION */

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation__title {
    margin-bottom: 15px;
}


.step {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

.list__link, .content__link {
    color:  rgb(252, 244, 244);
}

/* STEPS */

.step {
    margin-top: 30px;
}
.step__content {
    margin-top: 15px;
}

code {
    color: aqua;
}

.new {
    background-color: orangered;
    border-radius: 20%;
    display: inline-block;
    padding: 2px;
}

.send {
    background-color: rgba(63, 63, 243, 0.89);
    border-radius: 20%;
    display: inline-block;
    padding: 2px;
}

/* BTN TOP */

#btn_top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    outline: none;
}

@media screen and (max-width: 1280px) {
	.wrapper {
		padding: 1rem;
	}
}